<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digit Recognizer</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div id="app">
        <h1>Digit Recognizer</h1>
        <div class="card">
            <input type="file" @change="handleFileUpload">
            <button @click="submitFile" :disabled="!file">Predict</button>
            <div v-if="prediction" class="result">
                <h2>Prediction: <span>{{ prediction }}</span></h2>
            </div>
            <div v-if="error" class="error">
                <p>{{ error }}</p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/static/app.js"></script>
</body>
</html>